#control-break {
	text-align: center;

}
#control-session {
	text-align: center;

}

#controls-left {
	margin-top: 15px;
}
#controls-right {
	margin-top: 15px;
}

#line-section {
	max-height: 5px;
}

#timer-section {
	text-align: center;
}

#start-row {
    text-align: center;
    margin-top: 20px;
}

.round-button-circle {
    	width: 100%;
    	height:0;
    	padding-bottom: 100%;
        border-radius: 50%;
    	border:10px solid #cfdcec;
        overflow:hidden;
        
        background: #4679BD; 
        box-shadow: 0 0 3px gray;
    }

.round-button a {
        display:block;
    	float:left;
    	width:100%;
    	padding-top:50%;
        padding-bottom:50%;
    	line-height:1em;
    	margin-top:-0.5em;
        
    	text-align:center;
    	color:#e2eaf3;
        font-family:Verdana;
        font-size:1.2em;
        font-weight:bold;
        text-decoration:none;
    }
